.container
{
	text-align: center;
	margin: auto;
	width: 70%;
}

.dice
{
	text-align: center;
	display: inline-block;
}
body
{
	background-color: grey;
}

h1
{
	font-size: 4rem;
	font-family: 'cambria',cursive;
	color: pink;
}
p
{
	font-size: 4rem;
	font-family: 'cambria',cursive;
	color: pink;
}


img
{
	width: 80%;
}


footer
{
	color: #EEEEEE;
	text-align: center;
	font-family: 'canmbria',cursive;
	margin: auto;
}

