.container
{
	width: 80%;
	margin: auto;
}

.box-1
{
    background-color: #333333 ;
    color: #ffffff;
    padding: 10px;
    border: 5px red solid;
    border-left:5px  ;
        border-right: 5px;
            border-top: 15px;
                border-bottom: 15px;

}


.button
{
	color: #ffffff;


}


.branches
{
	border: 1px solid #ccc;
	padding: 10px;
	border-radiusmargin: 15px;
}

.block
{
	float: rigth ;
	width:33.3% ;
	border: 4px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

.clr 
{
	clear: both;
}

.p-box
{
	width: 400px;
	height: 500px;
	border: 4px solid #000;
	margin-top: 30px;
	position: relative;
}


.p-box h1
{
	position: absolute;
	top: 100px;
	left: 200px ;

}